<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpBjfhxODOmsJvLwBBhAp0Qd9NEqGUllE</string>
	<key>GCM_SENDER_ID</key>
	<string>930916605192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blog</string>
	<key>PROJECT_ID</key>
	<string>blogdata-24b9c</string>
	<key>STORAGE_BUCKET</key>
	<string>blogdata-24b9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930916605192:ios:02600167545b1f51b2a0bd</string>
</dict>
</plist>